<!-- snippets/onboarding-empty-collection.liquid -->
<div class="grid__item forma-card__body">
  <div class="helper-section">
    <div class="helper-note">
      <span class="helper-icon" aria-hidden="true"></span>
      <h3>{{ 'collections.onboarding.modal_title' | t }}</h3>
      <p>{{ 'collections.onboarding.no_products_html' | t }}</p>
    </div>
  </div>
</div>
